<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/posts/new" method="post">
      <legend>New Post</legend>
      <div class="form-group">
        <label for="post-content">Content</label>
        <textarea name="content" class="form-control" id="post-content" placeholder="What do you want to showcase?"></textarea>
      </div>
      <div class="form-group">
        <label for="post-url">Link</label>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="Link">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>
